<?xml version="1.0" encoding="UTF-8"?>
<?xml-model href="dita-ot/plugin.rnc" type="application/relax-ng-compact-syntax"?>
<plugin id="com.oxygenxml.preserve.keyrefs">
    <!-- add @data-keyref attribute to scoped cross-references -->
    <feature extension="dita.xsl.html5" value="html5.xsl" type="file"/>

    <!-- copy keys-only final map (keys-<mapname>.ditamap) into output directory -->
    <feature extension="ant.import" file="build-copy-final-map.xml"/>
    <feature extension="depend.preprocess.post" value="copy-final-map"/>
</plugin>
